.header {
  text-align: center;
}

.headerTitles {
  margin-bottom: 20px;
  font-size: 50px;
}

.headerImg {
    width: 90vw;
    height: 550px;
    border-radius: 10px;
    object-fit: cover;
}


